// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)
$primary: #00ff6a; 
$secundary: #cca806; // Example of overriding a variable
$font-family-sans-serif: "Savate",sans-serif !default; // Example of overriding a font family
$tertiary: #193529; // Example of a tertiary color variable
// Include the custom font family-sans-serif
$font-family-serif:"Hind Madurai", serif !default; // Example of overriding a serif font family
// Include the custom font family-navbar
// This will apply the custom font to the navbar component
  .savate-navbar {
    font-family: 'Savate', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

p{
  font-family: $font-family-serif;
  font-size: 1.2rem;
}
.form-label {
  color: $secundary;
  font-family: $font-family-serif;
  font-size: 1.2rem;
}
.btn btn-primary {
  background-color: $secundary;
  border-color: $primary;
  color: #09e21b;
}

// Custom Bootstrap SCSS file

@import "../node_modules/bootstrap/scss/bootstrap";
// Option B: Include only the components you need
// @import "../node_modules/bootstrap/scss/functions";
// Then add additional custom code here