// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won’t be available)
$primary: #00ff6a; 
$secundary: #cca806; // Example of overriding a variable
$font-family-sans-serif: "Savate",sans-serif !default; // Example of overriding a font family
$tertiary: #193529; // Example of a tertiary color variable
// Include the custom font family-sans-serif
$font-family-serif:"Hind Madurai", serif !default; // Example of overriding a serif font family
// Include the custom font family-navbar
// This will apply the custom font to the navbar component
$placeholder-opacity-max:           .5;
$placeholder-opacity-min:           .2;

.input-glow::placeholder{
color :transparent;

}
.input-glow{
  position:relative;
  background:linear-gradient(to right, $primary, $secundary);
  background-size: 200% 100%;
  animation:glow-animation 1.5s infinite;
  border-radius : 5px;
  color:transparent;

  }
@keyframes glow-animation{

  0%{
  background-position:200% 0;
}
100%{ 

  bacground-position:-200% 0;
}
}

  .savate-navbar {
    font-family: 'Savate', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

p{
  font-family: $font-family-serif;
  font-size: 1.2rem;
}
.form-label {
  color: $secundary;
  font-family: $font-family-serif;
  font-size: 1.2rem;
}
.btn btn-primary {
  background-color: $secundary;
  border-color: $primary;
  color: #09e21b;
}
.check-form{
background-color: $tertiary;
 color: $secundary;
  font-family: $font-family-serif;
  font-size: 1.2rem;
}
.container principal{
  background-color:$primary;
cursor: pointer;
border-radius: 20px solid red;

}
// Custom styles for the card component

// This will apply the custom font to the card component


.card-sushi{
   
  position :relative;
   filter:brightness(0.5);
  
  &::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:url(../images/image-sushi10.jpg);
     background-size: cover;
     filter:brightness(0.7);
 }

* {

    position: relative;
  }
.card-sushi-content {
  position: relative;
  
  padding: 20px;
  color: rgb(116, 95, 4);
  text-align: center;

}
.redcol {
  border-radius: 20px;
  background-color: rgba(10, 37, 3, 0.5);
}

 
// Custom Bootstrap SCSS file

@import "../node_modules/bootstrap/scss/bootstrap";
// Option B: Include only the components you need
// @import "../node_modules/bootstrap/scss/functions";
// Then add additional custom code here
}